.jobs-container {
  padding-left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  background: #232427;
}
.job {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 20px 10px;
  align-items: center;
}
.job:hover {
  cursor: pointer;
  color: #666666;
}
.detail-logo {
  height: 30px;
}
.modal {
  display: flex;
  flex-direction: row;
}
.job-company {
  padding: 0 30px;
}
.job-dialog {
  padding: 30px 50px;
}
.MuiTypography-h4,
.MuiTypography-h6 {
  color: antiquewhite;
}
