.jobs-container {
  padding-left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  background: #232427;
}
.job {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 20px 10px;
  align-items: center;
}
.job:hover {
  cursor: pointer;
  color: #666666;
}
.detailed-logo {
  height: 100px;
  float: right;
}
.modal {
  display: flex;
}
.job-company {
  padding: 0 30px;
}
.job-dialog {
  padding: 30px 50px;
}

.MuiTypography-h6,
.MuiTypography-h5 {
  color: antiquewhite;
}
.text_black {
  color: #232427 !important;
}
.text_white {
  color: #fff;
  float: right;
}
.heading {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.MuiTypography-h4 {
  color: #fff;
  text-decoration: underline;
}
